:root {
    --primary-color: #0D6EFD;
    --background-color: #2ecc71;
    --font-color: #000000;
    --secondaryFont-color: #FFFFFF;
    --secondaryBackground-color: #E2DCD7;
    --input-border-color: #A4A4A4;
}

body {
    background-color: var(--secondaryBackground-color);
}

nav {
    background-color: var(--primary-color);
}

li {
    color: var(--secondaryFont-color);
}

div span footer nav table tr td {
    /* border: solid 1px black; */
}

.btn_primary {
    background-color: var(--primary-color);
    color: var(--secondaryFont-color);
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s, color 0.3s;
}

.btn_primary:hover {
    background-color: var(--secondaryFont-color);
    color: var(--primary-color);
}

.btn_primary:focus {
    background-color: gray;
    /* Warna abu-abu saat focus */
    color: var(--secondaryFont-color);
    /* Warna font biru saat focus */
}
