:root {
    --primary-color: #0D6EFD;
    --background-color: #2ecc71;
    --font-color: #000000;
    --secondaryFont-color: #FFFFFF;
    --secondaryBackground-color: #F6F6F6;
    --input-border-color: #A4A4A4;
}

body {
    background-color: var(--secondaryBackground-color);
}

nav {
    background-color: var(--primary-color);
}

li {
    color: var(--secondaryFont-color);
}

div {
    /* border: solid 1px black; */
}

.btn_primary {
    background-color: var(--primary-color);
    color: var(--secondaryFont-color);
    border-radius: 5px;
    padding: 10px 10px;
    border: solid 1px var(--primary-color);
    cursor: pointer;
    transition: background-color 0.1s, color 0.3s;
}

.btn_logOut {
    background-color: #ed4040;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: #ed4040 solid 1px;
    transition: background-color 0.1s, color 0.3s;
}

.btn_logOut:hover {
    cursor: pointer;
    color: #d82c2c;
    background-color: white;
    border: #d82c2c solid 1px;
}

.btn_secondary {
    background-color: var(--primary-color);
    color: var(--secondaryFont-color);
    border-radius: 5px;
    width: 10rem;
    padding: 8px 0;
    border: solid 1px var(--primary-color);
    cursor: pointer;
    transition: background-color 0.1s, color 0.3s;
}

.btn_primary:hover {
    background-color: var(--secondaryFont-color);
    color: var(--primary-color);
}

.btn_primary:focus {
    background-color: var(--primary-color);
    /* Warna abu-abu saat focus */
    color: var(--secondaryFont-color);
    /* Warna font biru saat focus */
}
