@import url('css/basic.css');

:root {
    --height-root: 250px;
}

.Classfooter {}

.contentFooter {
    background-color: var(--primary-color);
    color: var(--secondaryFont-color);
    height: var(--height-root);
    width: 100%;
    height: var(--height-root);
}
