@import url('basic.css');

:root {
    --hero-height: 70vh;
}

.heroSection {
    background-color: var(--secondaryFont-color);
    height: var(--hero-height);
    border-radius: 0 0 10px 10px;
    margin: 0 2rem;
    box-shadow: black 0 0 1px;
    gap: 14rem;
}

.contentHeroSection {
    /* 80 sisa 20 untuk sosmedNavHero */
    gap: 20rem;
    height: 80%;
}

.sosmedNavHero {
    height: 20%;
}

.card_img {
    border-radius: 0;
}

.img_hero {
    width: 20rem;
    /* Mengatur tinggi otomatis untuk menjaga rasio gambar */
    object-fit: contain;
}

.card {
    width: 300px;
}

.btn_keranjang {
    border-radius: 5px;
    width: 100%;
    background-color: var(--secondaryFont-color);
    color: var(--primary-color);
    padding: 10px 40px;
}

.cardCaption {
    background-color: var(--primary-color);
    color: var(--secondaryFont-color);
}

.contenSection {
    height: 40vh;
    margin: 4rem 20% 0 20%;
}


.contenSection4 {
    background: var(--secondaryFont-color);
    padding: 4rem 20% 5rem 20%;
}

.container_section {}

.imgSection {
    width: 70%;
    height: fit-content;
}
