@import url('basic.css');

:root {
    --hero-height: 70vh;
}

.heroSection {
    background-color: var(--secondaryFont-color);
    height: var(--hero-height);
    border-radius: 0 0 10px 10px;
    margin: 0 2rem;
    box-shadow: black 0 0 1px;
}

.card_img {
    border-radius: 0;
    width: 300px;
    height: 300px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: black 0 0 10px 0.2px;
    transform: translateY(-5px);
}

.hidden {
    display: none;
}

.btn_keranjang {
    border-radius: 5px;
    width: 100%;
    background-color: var(--secondaryFont-color);
    color: var(--primary-color);
    padding: 10px 40px;
    border: solid 1px white;
    transition: 0.2s ease;
}

.btn_keranjang:hover {
    background-color: var(--primary-color);
    color: white;
}

.cardCaption {
    background-color: var(--primary-color);
    color: var(--secondaryFont-color);
}

.contenSection {
    height: 40vh;
    margin: 4rem 20% 0 20%;
}


.contenSection4 {
    background: var(--secondaryFont-color);
    padding: 4rem 20% 5rem 20%;
}

.container_section {}

.imgSection {
    width: 70%;
    height: fit-content;
}
