   .navLi {
       padding: 6px 8px;
       margin: 0 5px;
       transition: 0.2s ease;
       border-radius: 8px;
   }

   .active {
       background-color: white;
       color: var(--primary-color);
   }

   .navLi:hover {
       background-color: white;
       color: var(--primary-color);
   }

   .userProfile {
       color: white;
   }
   .imgUser {
       width: 35px;
       height: 35px;
       border-radius: 50%;
   }
