.navLi {
    padding: 6px 8px;
    margin: 0 5px;
    transition: 0.2s ease;
    border-radius: 8px;
}

.active {
    background-color: white;
    color: var(--primary-color);
}

.navLi:hover {
    background-color: white;
    color: var(--primary-color);
}

.userProfile {
    color: white;
}

.btn_img {
    border: solid 1px var(--primary-color);
    border-radius: 15%;
    transition: 0.2s ease;
}

.btn_img:hover {
    border: solid 1px white;
}
.btnImg_active{
    border: solid 1px white;
}
